.hero{
    /* adding background image */
    background-image: url("../images/licensed-image.jfif.crdownload");

    /* set the height of the Jumbotron */
    height: 250px;

    /* stretch the background image so it covers the entire jumbotron */
    background-size: cover;

    /* make sure the background does not repeat */
    background-repeat: no-repeat;

    /* set the background to be fixed so the page appears to scroll over it */
    background-attachment: fixed;
}